@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: #ebe6e6;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
@media (max-width: 511px) {
  .fas {
    font-size: x-large !important;
    margin-right: 1.5rem;
  }
  .icons {
    display: flex;
    justify-content: space-between;
  }
}
