.product {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px !important;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-details {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 15%;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.image-slider {
  width: 25rem;
  height: 30rem;
  position: relative;
  background-image: url("../public/product\ image\ 1.png");
  background-size: cover;
}

.product-images {
  position: absolute;
  bottom: -22%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
  grid-gap: 10px;
  padding: 10px;
}

.product-images img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.product-images img.active {
  opacity: 0.5;
}

.details {
  width: 50%;
}

details .product-brand {
  text-transform: capitalize;
  font-size: 30px;
}

.details .product-short-des {
  font-size: 25px;
  line-height: 30px;
  height: auto;
  margin: 15px 0 30px;
}

.product-price {
  font-weight: 700;
  font-size: 30px;
}

.product-actual-price {
  font-size: 30px;
  opacity: 0.5;
  text-decoration: line-through;
  margin: 0 20px;
  font-weight: 300;
}

.product-discount {
  color: #ff7d7d;
  font-size: 20px;
}

.product-sub-heading {
  font-size: 30px;
  text-transform: uppercase;
  margin: 60px 0 10px;
  font-weight: 300;
}

.size-radio-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #383838;
  border-radius: 50%;
  margin: 10px;
  margin-left: 0;
  line-height: 80px;
  color: #383838;
  cursor: pointer;
}

.size-radio-btn.check {
  background: #383838;
  color: #fff;
}

.btn {
  width: 15rem;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #383838;
  color: #383838;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-transform: capitalize;
}

.cart-btn {
  margin-right: 2%;
  background: #383838;
  color: #fff;
}

.cart-btn:hover {
  background: #eee;
  color: #383838;
  transition: 0.3s ease-in-out;
}

.wishlist:hover {
  transition: 0.3s ease-in-out;
  background: #383838;
  color: #eee;
}

.detail-des {
  padding: 0 10vw;
  padding-bottom: 5vw;
}

.heading {
  font-size: 30px;
  margin-bottom: 30px;
  color: #000;
}

.des {
  color: #383838;
  line-height: 25px;
}
@media (max-width: 950px) {
  .product-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }
  .image-slider {
    margin-bottom: 150px;
  }
  .details {
    width: 60%;
    display: contents;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .heading .des {
    font-size: 600;
  }
  h2 .product-brand {
    font-size: 900;
  }
  .size-radio-btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
@media (max-width: 510px) {
  .cart-btn {
    margin-left: 15%;
  }
  .wishlist {
    margin-right: 9%;
  }
}
@media (max-width: 475px) {
}
